
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dmitryvolkov.me/demo/flixgo2.0/main/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 21:21:03 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->

    <link href="~/FlixGo/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/FlixGo/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/FlixGo/css/default-skin.css" rel="stylesheet" />
    <link href="~/FlixGo/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/FlixGo/css/main.css" rel="stylesheet" />
    <link href="~/FlixGo/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/FlixGo/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/FlixGo/css/photoswipe.css" rel="stylesheet" />
    <link href="~/FlixGo/css/plyr.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/FlixGo/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/FlixGo/icon/favicon-32x32.png">

    <meta name="description" content="Online Filmler, TV Dizileri & Sinema">
    <meta name="keywords" content="">
    <meta name="author" content="Yunus İNAN">
    <title>TeraGo – Online Filmler, TV Dizileri & Sinema</title>

</head>
<body class="body">

    <!-- header -->
    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="index-2.html" class="header__logo">
                                <img src="~/FlixGo/img/teralogo.png" alt="">
                            </a>
                            <!-- end header logo -->
                            <!-- header nav -->
                            <ul class="header__nav">
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ana Sayfa <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z" /></svg></a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuHome">
                                        <li><a href="index-2.html">Home slideshow bg</a></li>
                                        <li><a href="index2.html">Home static bg</a></li>
                                    </ul>
                                </li>
                                <!-- end dropdown -->
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Katalog <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z" /></svg></a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
                                        <li><a href="catalog1.html">Catalog Grid</a></li>
                                        <li><a href="catalog2.html">Catalog List</a></li>
                                        <li><a href="details1.html">Details Movie</a></li>
                                        <li><a href="details2.html">Details TV Series</a></li>
                                    </ul>
                                </li>
                                <!-- end dropdown -->

                                <li class="header__nav-item">
                                    <a href="pricing.html" class="header__nav-link">Aylık Plan</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="faq.html" class="header__nav-link">Yardım</a>
                                </li>

                                <!-- dropdown -->
                                <li class="dropdown header__nav-item">
                                    <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,10a2,2,0,1,0,2,2A2,2,0,0,0,12,10ZM5,10a2,2,0,1,0,2,2A2,2,0,0,0,5,10Zm14,0a2,2,0,1,0,2,2A2,2,0,0,0,19,10Z" /></svg>
                                    </a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                        <li><a href="/About/Index/">Hakkımızda</a></li>
                                        <li><a href="/Profile/Index/">Profilim</a></li>
                                        <li><a href="/Login/Index/">Giriş Yap</a></li>
                                        <li><a href="/Register/Index/">Kayıt Ol</a></li>
                                        <li><a href="#">Şifremi Unuttum ?</a></li>
                                        <li><a href="/Privacy/Index/">Gizlilik Politikaları</a></li>
                                        <li><a href="/Contact/Index/">İletişim</a></li>

                                    </ul>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->
                            <!-- header auth -->
                            <div class="header__auth">
                                <button class="header__search-btn" aria-label="search btn" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" /></svg>
                                </button>

                                <!-- dropdown -->
                                <div class="dropdown header__lang">
                                    <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TR</a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLang">
                                        <li><a href="#">Türkçe</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Russian</a></li>
                                    </ul>
                                </div>
                                <!-- end dropdown -->

                                <a href="signin.html" class="header__sign-in">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z" /></svg>
                                    <span>Giriş Yap</span>
                                </a>
                            </div>
                            <!-- end header auth -->
                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header search -->
        <form action="#" class="header__search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__search-content">
                            <input type="text" placeholder="Senin İçin Arıyorum...">
                            <button type="button">Ara</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end header search -->
    </header>
    <!-- end header -->
    <!-- home -->
    @RenderBody()

    @await Component.InvokeAsync("NewFilmsNewSeason")
    <!-- end home -->
    <!-- content -->

    @await Component.InvokeAsync("NewFilms")
    <!-- end content -->
    <!-- expected premiere -->
    @await Component.InvokeAsync("RecommendFilms")
    <!-- end expected premiere -->
    <!-- partners -->
    @await Html.PartialAsync("PartialPartners")
    <!-- end partners -->
    <!-- footer -->
    @await Html.PartialAsync("PartialFooter")
    <!-- end footer -->
    <!-- JS -->
    <script src="~/FlixGo/js/bootstrap.bundle.min.js"></script>
    <script src="~/FlixGo/js/jquery-3.6.0.min.js"></script>
    <script src="~/FlixGo/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/FlixGo/js/jquery.morelines.min.js"></script>
    <script src="~/FlixGo/js/jquery.mousewheel.min.js"></script>
    <script src="~/FlixGo/js/main.js"></script>
    <script src="~/FlixGo/js/nouislider.min.js"></script>
    <script src="~/FlixGo/js/owl.carousel.min.js"></script>
    <script src="~/FlixGo/js/photoswipe-ui-default.min.js"></script>
    <script src="~/FlixGo/js/photoswipe.min.js"></script>
    <script src="~/FlixGo/js/plyr.min.js"></script>
    <script src="~/FlixGo/js/wNumb.js"></script>
</body>

<!-- Mirrored from dmitryvolkov.me/demo/flixgo2.0/main/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 21:21:36 GMT -->
</html>
@RenderBody()