
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Index</h1>

<script src="~/FlixGo/js/bootstrap.bundle.min.js"></script>
<script src="~/FlixGo/js/jquery-3.6.0.min.js"></script>
<script src="~/FlixGo/js/jquery.mCustomScrollbar.min.js"></script>
<script src="~/FlixGo/js/jquery.morelines.min.js"></script>
<script src="~/FlixGo/js/jquery.mousewheel.min.js"></script>
<script src="~/FlixGo/js/main.js"></script>
<script src="~/FlixGo/js/nouislider.min.js"></script>
<script src="~/FlixGo/js/owl.carousel.min.js"></script>
<script src="~/FlixGo/js/photoswipe-ui-default.min.js"></script>
<script src="~/FlixGo/js/photoswipe.min.js"></script>
<script src="~/FlixGo/js/plyr.min.js"></script>
<script src="~/FlixGo/js/wNumb.js"></script>

